.App-header {
    background-color: white;
    height: 10vh;
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(230, 62, 62);
}

.App-header h1 {
    display: inline;
    font-weight: 500;
    position: relative;
    bottom: 85px;
}

hr {
    border-top: 3.5px solid rgb(230, 62, 62);
}